.main-container {
    width: 74.80%;
    float: right;
}

.main-block .block {
    width: 22.80%;
    padding: 10px;
    float: left;
    position: relative;
    margin-right: 10px;
    min-height: 80px;
}

.main-block .btn-primary {
    display: inline-block;
    width: 23.936%;
    margin-top: 18px;
    padding: 30px 0;
}
