.bed-Tag-listing {
    width: 80%;
    margin: 0 auto;
    box-shadow: 1px 1px 3px #ccc;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
}

.bed-Tag-listing .block-title {
    padding: 10px;
    background: #f9f9f9;
}

.bed-Tag-listing .block-content {
    padding: 10px;
}

.bed-Tag-listing table {
    width: 100%;
    text-align: left;
    border: none;
    border-collapse: collapse;
    background-color: transparent;
}

.bed-Tag-listing table tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

.bed-Tag-listing table tr td,
.bed-Tag-listing table tr th {
    border: 1px solid #eceeef;
    padding: .75rem;
}

.bed-Tag-listing table th.description{
    width: 50%;
}

