<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Thoughtworks</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSRuntimeVersion}</require_version>
	<!-- / Module Properties -->

	<aware_of_modules>
		<aware_of_module version="${openmrsAtomfeedVersion}">org.ict4h.openmrs.openmrs-atomfeed</aware_of_module>
	</aware_of_modules>

    <!-- Required Modules -->
    <require_modules>
        <require_module version="${webservicesRestModuleVersion}">org.openmrs.module.webservices.rest</require_module>
    </require_modules>
    <!-- / Required Modules -->

    <!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.BedManagementActivator</activator>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
        Bed.hbm.xml
		BedTag.hbm.xml
		BedTagMap.hbm.xml
        BedLocationMapping.hbm.xml
        BedPatientAssignment.hbm.xml
        BedType.hbm.xml
	</mappingFiles>

	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.bedmanagement.extension.html.AdminList</class>
	</extension>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<!-- Set this property to "false" to disable features in the OWA that allow adding, editing, and deleting locations -->
	<globalProperty>
		<property>bedmanagement.owa.enableManagingLocations</property>
		<defaultValue>true</defaultValue>
	</globalProperty>

</module>

