.main-block .bed-layout .block {
    width: 14%;
    padding: 0 10px 0 10px;
    float: left;
    position: relative;
    margin-right: 20px;
    min-height: 55px;
    box-shadow: 1px 1px 3px #ccc;
    border: 1px solid #ccc;
    margin: 10px 5px;
    word-wrap: break-word;
}

.bed-layout .block.add-block {
    cursor: pointer;
}

.bed-layout .block.existing-bed {
    background-color: #d3d3d3;
}

.bed-layout .block .block-title {
    padding: 10px;
    background: #f9f9f9;
}

.bed-layout .block .block-content {
    padding: 10px;
}

.bed-layout .block .left-block {
    width: 80%;
    float: left;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

.bed-layout .block .right-block {
    position: absolute;
    right: 10px;
}

.bed-layout .block .left-block span {
    vertical-align: middle;
}

.bed-layout.block ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

.bed-layout .block ul.right-block li {
    display: none;
    text-align: right;
    padding: 5px 0 0 0;
}

.bed-layout .block:hover ul.right-block li{
    display: block;
}

.bed-layout .block ul.right-block li a {
    color: #454e59;
}

.bed-layout .option {
    margin-bottom: 20px;
}

.option .button {
    background: -owg-linear-gradient(top,#fff,#ddd);
    background: -webkit-linear-gradient(top,#fff,#ddd);
    background: linear-gradient(top,#fff,#ddd);
    border: 1px solid #ddd;
    padding: 8px 20px;
    display: inline-block;
    line-height: 1.2em;
    color: #363463;
    cursor: pointer;
    min-width: 0;
    max-width: 300px;
    text-decoration: none;
    width: auto;
    border-radius: 4px;
    margin-left: 10px;
}

.option .button:hover {;
    background: #e2e2e2;
    border-color: #d0d0d0;
}